@use "../../../../base.scss";

.noproject-container {
    text-align: center;
    width: 66%;
    margin-top: 5rem;

    >img {
        height: 5rem;
        object-fit: contain;
        margin: 1rem auto;
    }

    >h2 {
        font-size: 2rem;
        color: rgb(235, 235, 235);
        margin-bottom: 0.5rem;
    }

    >p {
        color: rgb(202, 202, 202);
        margin-bottom: 1.5rem;
    }

    >button {
        background-color: rgb(34, 34, 34);
        border: none;
        border-radius: 0.5rem;
        color: rgb(235, 235, 235);
        padding: 0.8rem;
    }
}