@use "@styles/mixins.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
  --bg-gradient: linear-gradient(180deg, hsl(240, 3%, 6%, 0.1), hsl(240, 3%, 6%, 0.9), hsl(240, 3%, 6%));

  @include flex-align(column);
  position: relative;

  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--color-text);
}
