.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: var(--bg-gradient);
}

.background-overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -2;

  background-color: var(--color-bg-dark);
  background-size: 80px 80px;
  background-image:
    linear-gradient(to right, var(--color-bg-lighter) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-bg-lighter) 1px, transparent 1px);
  background-attachment: fixed;
}

.background-color {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -3;
  background-color: var(--color-bg-dark);
}