.inputs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: min(3rem, 8vw);
  margin: 0 5vw;

  background: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 15px;
  box-shadow: var(--shadow);

  @media (max-width: 695px) {
      width: min-content;
      gap: 1rem;
  }

  >div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;

    @media (max-width: 678px) {
      gap: 1rem;
    }
  }
}