@use "@styles/mixins.scss" as *;

.results {
  @include flex-center();
  font-size: 1rem;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 15px;
  box-shadow: var(--shadow);
  margin: 2rem 1rem;
  padding: 0.625rem;
  max-width: 90%;
  

  @media (max-width: 678px) {
    padding: 0.5rem;
  }

  >.table-wrapper {    
    width: 100%;
    overflow-x: auto;
    scrollbar-color: var(--color-bg-lighter) transparent;

    >table {
      border-spacing: 1rem 0.5rem;
      overflow-x: auto;
      min-width: 500px;
      white-space: nowrap;

      td {
        text-align: center;
      }
    }
  }

  p {
    padding: 1.25rem 5vw;
    text-align: center;
  }
}