@use "@styles/mixins.scss" as *;

.noproject-container {
  width: 66%;
  color: var(--color-text);
  text-align: center;
  margin-top: 5rem;
  

  > img {
    height: 5rem;
    object-fit: contain;
    margin: 1rem auto;
  }

  > h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-shadow: var(--shadow);
  }

  > p {
    margin-bottom: 1.5rem;
    color: var(--color-text-muted);
  }

  > button {
    font-size: 0.875rem;
    border: 1px solid var(--color-border-muted);
    border-radius: 0.5rem;
    background-color: var(--color-bg-lighter);
    color: var(--color-text-muted);
    padding: 0.8rem;

    &:hover {
      border-color: var(--color-border);
    }
  }
}
