@use "@styles/mixins.scss" as *;

.project-view-container {
  @include flex-justify();
  flex-grow: 1;
  padding: min(2rem, 5%);
  background-color: var(--color-bg-light);
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
