.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;

    .stats {
        margin-top: 15vh;

        .stat {
            flex: 1;

            .value {
                font-size: 2rem;
                color: var(--primary);
            }

            .description {
                color: var(--text-muted);
            }
        }

        .score {
            .value {
                font-size: 2.5rem;
            }

            .description {
                font-size: 1.35rem;
            }
        }

        .details {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }
    }

    hr {
        width: 80%;
        border: 1px solid var(--primary);
    }

    .questions {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-bottom: 3rem;

        padding: 1rem;
    }
}