.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    .score {
        .value {
            font-size: 2rem;
            color: var(--primary);
        }

        .description {
            color: var(--text-muted);
        }
    }
}