@use "@styles/mixins.scss" as *;

.tasks-container {
    margin-top: 1rem;

    >h2 {
        margin-bottom: 0.5rem;
    }

    >.add-task-container {
        @include flex($gap: 0.875rem);
        
        >input {
            width: 50%;
            background-color: var(--color-bg-lighter);
            color: var(--color-text);
            border: 1px solid transparent;
            border-radius: 0.5rem;
            padding: 0.25rem 0.375rem;

            &:focus {
                outline: none;
                border-color: var(--color-border)
            }

            &:hover {
                border-color: var(--color-border)
            }
        }

        >button {
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 0.5rem;
            color: var(--color-text-muted);
            padding: 0 0.5rem;

            &:hover {
                color: var(--color-text);
            }
        }

        
    }

    >.tasks-list {
        @include flex(column, 0.5rem);
        margin-top: 1rem;

        >li {
            @include flex-align();
            justify-content: space-between;

            >span {
                flex-grow: 1;
                margin-right: 0.5rem;
            }

            >button {
                font-size: 0.875rem;
                color: var(--color-text-muted);
                height: min-content;
                background-color: transparent;
                border: none;

                &:hover {
                    color: var(--color-secondary);
                }
            }
        }
    }
}