.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(#1f1f1f50, #1f1f1ff8, #1f1f1f);
}

.background-overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -2;

  background-color: #1f1f1f;
  background-size: 80px 80px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.5) 1px, transparent 1px);
  
  background-attachment: fixed;
}

.background-color {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -3;

  background-color: #1f1f1f
}