.tasks-container {
    margin-top: 1rem;

    >h2 {
        margin-bottom: 0.5rem;
        font-size: clamp(1.25rem, 0.488rem + 3.81vw, 1.5rem);
    }

    >.add-task-container {
        display: flex;
        gap: 0.875rem;
        
        >input {
            width: 50%;
            background-color: var(--color-bg-lighter);
            color: var(--color-text);
            border: 1px solid transparent;
            border-radius: 0.5rem;
            padding: 0.25rem 0.375rem;
            font-size: clamp(0.875rem, 0.494rem + 1.905vw, 1rem);

            &:focus {
                outline: none;
                border-color: var(--color-border)
            }

            &:hover {
                border-color: var(--color-border)
            }
        }

        >button {
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 0.5rem;
            color: var(--color-text-muted);
            padding: 0 0.5rem;
            font-size: clamp(0.875rem, 0.494rem + 1.905vw, 1rem);

            &:hover {
                color: var(--color-text);
            }
        }

        
    }

    >.tasks-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        margin-top: 1rem;
        padding: 0 1rem;

        >li {
            display: flex;
            align-items: center;
            
            justify-content: space-between;

            >p {
                margin-right: 1rem;
                font-size: clamp(0.875rem, 0.494rem + 1.905vw, 1rem);
                word-break:break-all
            }

            >button {
                font-size: clamp(0.75rem, 0.369rem + 1.905vw, 0.875rem);
                color: var(--color-text-muted);
                height: min-content;
                background-color: transparent;
                border: none;

                &:hover {
                    color: var(--color-secondary);
                }
            }
        }
    }
}