.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .question-count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: var(--primary);     
        border-radius: 50%;
    }
}

.right-answer {
    color: rgb(40, 131, 52);
}

.false-answer {
    color: rgb(167, 52, 52);
}