@use "../base.scss";

$main-color: rgb(27, 27, 27);
$text-color: white;
$text-color-darker: rgb(223, 223, 223);

.container {
    @include base.flex-center(column, 30px);
    height: 100dvh;
    background-color: $main-color;
    font-family: "Inter", sans-serif;
    color: $text-color;

    header {
        @include base.flex-center(column, 5px);
        h1 {
            font-size: 3rem;
        }
    }

    hr {
        width: 400px;
        border-color: $text-color-darker;
    }
    
    .projects-container {
        @include base.flex(column, 5px);
        text-align: center;

        >a {
            color: $text-color-darker;
            text-decoration: none;
            font-size: 1.1rem;
            display: inline-block;
            transition: transform 0.2s ease;

            &:hover {
                color: $text-color;
                transform: scale(1.05);
            }
        }
    }


}