.project-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    height: 100%;
    color: rgb(255, 255, 255);
    padding: min(25px, 8%);

    >h1 {
        font-size: 2rem;
    }

    >.date {
        font-size: 1rem;
        color: rgb(255, 255, 255, 0.8);
    }

    >.description {
        margin: 20px 0;
    }

    >h2 {
        margin-top: 20px;
    }

    >hr {
        color: rgba(255, 255, 255, 0.2);
        border-style: solid;
    }

    >ol {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 16px 0;

        >div {
            display: flex;
            
            >li {
                list-style: none;
                margin-right: auto;
                padding-right: 10px;
            }

            >button {
                background: none;
                border: none;
                color: rgba(255, 255, 255, 0.8);
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }
        
    }
}