@use "../../../base.scss";

.results {
  @include base.flex-center(column);
  font-weight: 400;
  background: radial-gradient(circle, rgb(35, 35, 35), rgb(32, 32, 32));
  margin: 2rem 5vw;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 15px;
  box-shadow: 3px 3px 12px rgba(14, 14, 14, 0.3);

  >table {
    width: 100%;
    border-spacing: 1.2rem 0.8rem;
    padding: 0.8rem;
  }

  td {
    text-align: center;
  }

  p {
    padding: 1.6rem 5vw;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .results {
    >table {
      border-spacing: 1rem 0.6rem;
      padding: 0.6rem;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 450px) {
  .results {
    >table {
      border-spacing: 0.8rem 0.4rem;
      padding: 0.4rem;
      font-size: 0.6rem;
    }
  }
}