@use "../../../../base.scss";

.project-view-container {
    @include base.flex-justify();
    width: 50rem;
    padding: 2rem 1rem;
    background-color: rgb(46, 44, 44);
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}