.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    >.title {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
    }

    >hr {
        width: 90%;
        border: 1px solid var(--primary);
        margin: 0.25rem 0 0.5rem 0;
    }

    >progress {
        width: 90%;
        margin-top: 0.5rem;
        appearance: none;
    }

    >progress::-webkit-progress-bar {
        height: 10px;
        background-color: var(--border-muted);
        border-radius: 6px;
    }

    >progress::-webkit-progress-value {
        height: 10px;
        background-color: var(--primary);
        border-radius: 6px;
    }
    
    >progress::-moz-progress-bar {
        background-color: var(--primary);
        border-radius: 6px;
    }

    >.answers {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        >button {
            flex: 1;
            color: var(--text-muted);
            background-color: var(--background);
            border: 2px solid var(--border-muted);
            border-radius: 6px;
            text-align: start;
            padding: 0.5rem 1rem;

            &:hover {
                border-color: var(--border);
                color: var(--text);
                background-color: var(--background-dark);
            }

            >span {
                font-weight: 700;
            }
        }
    }
}