@use "../../../../base.scss";
@use "sass:color";

$color-background: rgb(36, 34, 34);
$color-text: rgb(250, 250, 250);

.aside-container {
    width: 33%;
    padding: 3rem 2rem;
    background-color: $color-background;
    color: $color-text;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;

    >h2 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: color.adjust($color-text, $lightness: -8%);
    }

    >button {
        padding: 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.4rem;
        border: none;
        background-color: color.adjust($color-background, $lightness: 10%);
        color: color.adjust($color-text, $lightness: -30%);
        cursor: pointer;

        &:hover {
            background-color: color.adjust($color-background, $lightness: 8%);
            color: color.adjust($color-text, $lightness: -10%);
        }
    }

    >ul {
        @include base.flex(column);
    }
}

@media (min-width: 768px) {
    .aside-container {
        width: 18rem;
        
        >h2 {
            font-size: 1.5rem;
        }

        >button {
            font-size: 0.9rem;
        }
    }
}