@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: white;

  display: flex;
  justify-content: center;
  height: 100vh;

  background-color: #1f1f1f;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(#1f1f1f50, #1f1f1ff8, #1f1f1f);
}

.background-overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -2;

  background-color: #1f1f1f;
  background-size: 80px 80px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.5) 1px, transparent 1px);
  
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 3rem;
  margin-top: 15%;
}

header h1 {
  font-size: 3rem;
  color: rgb(230, 230, 230);
  
  margin-top: 1rem;
}

label {
  font-size: 1.1rem;
  display: block;
  margin-bottom: 0.5rem;
}

#inputs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  
  max-width: 800px;
  padding: 3rem 3rem;
  
  border: 1px solid rgb(230, 230, 230);
  border-radius: 15px;
}

#inputs > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  height: 100%;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input {
  background-color: #1f1f1f;
  color: white;
  font-size: 1rem;
  padding: 1rem 0.8rem;

  border: 2px solid #464646;
  border-radius: 10px;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 400;

  margin-top: 2rem;
  width: 100%;

  border: 1px solid rgb(230, 230, 230);
  border-radius: 15px;
}

#results table {
  width: 100%;
  border-spacing: 0.8rem;
  padding: 0.8rem;
}

#results td {
  text-align: center;
}

#results p {
  padding: 1.6rem 0px;
}

@media screen and (max-width: 620px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }
}

